<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CamAndStim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <CamAndStim.Properties.Settings>
      <setting name="DefaultCam" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrePostS" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StimS" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LCurrent" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="NStim" serializeAs="String">
        <value>5</value>
      </setting>
    </CamAndStim.Properties.Settings>
  </userSettings>
</configuration>